.nav-links-login-singnup {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

/* src/assets/css/main.css */

:root {
  --solar-green: #2ecc71;
  --edtech-blue: #3498db;
  --dark-bg: #2c3e50;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f4f7f6;
}

/* Common Card style for MainPortal */
.card {
  background: white;
  border-radius: 8px;
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}

/* Layout Wrapper */
.content-wrapper {
    display: flex;
    width: 100%;
}
/* Custom Flex Sections */
.dashboard-grid {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.cards-view {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1; /* Occupies all middle space */
}

footer {
    padding: 1rem;
    background: #fdfdfd;
    font-size: 0.9rem;
    margin-top: auto; /* Push to bottom */
}
